# Binance API Label: input_binance_label_here

[general]
# loop seconds, excute script every X seconds
LOOP_SEC = 60

[api]
API_KEY = 
API_SECRET = 

[target]
COIN = USDT

# locked duration(days) in projects,
# choose between: 7, 14, 30, 90, ALL
DURATION = ALL

# The least amount of lot you want to keep in your wallet.
# 0 for spending the maximum balance.
KEEP_LOT = 0

# at least buy X amount of lot in a single purchase
# 0 for any amount in a single purchase
MIN_LOT = 0